# Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)

_gen_fzf_default_opts() {

local color00='#272822'
local color01='#383830'
local color02='#49483e'
local color03='#75715e'
local color04='#d3d3d3'
local color05='#f8f8f2'
local color06='#f5f4f1'
local color07='#f9f8f5'
local color08='#f92672'
local color09='#fd971f'
local color0A='#f4bf75'
local color0B='#a6e22e'
local color0C='#a1efe4'
local color0D='#66d9ef'
local color0E='#ae81ff'
local color0F='#cc6633'

export FZF_DEFAULT_OPTS="
  --height 40% --border
  --color=bg+:$color01,bg:$color00,spinner:$color08,hl:$color0B
  --color=fg:$color05,header:$color08,info:$color0D,pointer:$color08
  --color=marker:$color08,fg+:$color06,prompt:$color0B,hl+:$color08
"

}

_gen_fzf_default_opts
